
<div  *ngIf="isLoading">
  <app-loading-spinner class="spinner"></app-loading-spinner>
</div>

<div class="alert alert-danger text-center m-1" *ngIf="error">
  {{ error }}
</div>
<div class="alert alert-success text-center m-1" *ngIf="success">
  {{ success }}
</div>
<div *ngIf="!isLoading">
  <div >
    <div *ngIf="!prazan">
      <div >
        <section class="container-fluid">
          <div class="row justify-content-around">
            <app-termin-item
              class="col-xs-5 col-md-3"
              *ngFor="let terminEl of termini"
              [termin]="terminEl"
              [simple]="true"
              [prethodni]="prethodni"
              (obrisani)="obrisaniTermin($event)"
            >
            </app-termin-item>
          </div>
        </section>
      </div>
    </div>
    
    <div class="alert alert-danger mx-5 mr-2 text-center" *ngIf="prazan">
      <div *ngIf="slobodni">Nema slobodnih termina</div>
      <div *ngIf="zauzeti">Nema zakazanih termina</div>
      <div *ngIf="prethodni">Nema prethodnih termina</div>
    </div>
  </div>
  <hr />
  <div class="row justify-content-center mt-1">
  <div class="col-xs-3 ">
    <button class="btn btn-primary mr-1 mt-1" (click)="onClickOtkazi()">Nazad</button>
  </div>
</div>
