<!-- <header (featureSelected)="onNavigate($event)"></header> -->
<!-- <router-outlet> -->
<!--DODALA SAM RUTIRANJE, U APP ROUTING AUTOMATSKI IDE NA TERAPEUT VIEW, SLOBODNNO PROMENI-->
<!-- <app-terapeut-list></app-terapeut-list> -->
<!-- <hr /> -->
<!-- <app-terapeut-navbar></app-terapeut-navbar> -->
<!-- <app-terapija-list></app-terapija-list> -->

<!-- <app-terapeut-page></app-terapeut-page> -->
<!-- <hr /> -->
<!-- </router-outlet> -->
<app-klijent-navbar></app-klijent-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
