<div  *ngIf="isLoading">
  <app-loading-spinner class="spinner"></app-loading-spinner>
</div>

<div *ngIf="!isLoading ">
<section class="container-lg border rounded-lg">
  <h2
  class="text-center "
  *ngIf="this.terapije.length > 0"
>
  Vaše terapije
</h2>
<div class="alert alert-danger" *ngIf="error">
  {{ error }}
</div>
<div class="alert alert-success" *ngIf="success">
  {{ success }}
</div>
    <div class="row justify-content-center" *ngIf=" !prazan">

      <app-terapija-item class="col-md-6 my-3"
      *ngFor="let terapijaEl of terapije" [terapija]="terapijaEl" (erorMess)="greska($event)" (obrisana)="obrisanaterapija($event)">
      </app-terapija-item>
      <hr>
    </div>
    
    <div class="alert alert-danger  mr-2 text-center" *ngIf="prazan">
      <div> Nemate nijednu terapiju</div>
    </div>

    
        
    <div class="row justify-content-center align-items-center">
      <div *ngIf="!neulogovan" class="col-xs-12">
        <button class="btn btn-primary"  (click)="onClickNova()">Dodaj novu terapiju</button>
      </div>
    </div>
    
</section>
</div>

