<mat-card class="shadow rounded-lg p-3">
  <mat-card-title class="text-center">
    {{ terapija.getTip() }}
  </mat-card-title>
  <mat-card-subtitle
    class="text-center my-3 terapeut-name"
    (click)="onTerapeutNameClicked()"
  >
    Terapeut : {{ terapija.getTerapeutName() }}</mat-card-subtitle
  >
  <mat-card-subtitle class="text-center my-3 visina spec"
    >Specijalizacija terapeuta :
    {{ terapija.getSpecTerapeuta() }}</mat-card-subtitle
  >
  <mat-card-content class="text-center">
    <p class="card-content">Cena po satu : {{ terapija.getCena() }}</p>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="text-center"> Detalji </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-left">{{ terapija.getDetalji() }}</p>
    </mat-expansion-panel>
    <p class="text-center mt-3" *ngIf="!basicView">
      Napredak klijenta :
      <span>
        Odrađeno {{ "  " + terapija.getOdradjenoTerapija() }} /
        {{ terapija.getUkupnoTerapija() }} terapija</span
      >
    </p>
    <mat-progress-bar
      mode="determinate"
      [value]="odrediProgres()"
      class="my-2"
      *ngIf="!basicView"
    >
    </mat-progress-bar>
    <div class="row justify-content-center" *ngIf="poruka !== null">
      <p class="alert alert-warning">
        {{ poruka }}
      </p>
    </div>
    <button
      class="btn btn-pink my-3 mx-2"
      *ngIf="!basicView"
      (click)="onOtkaziTerapiju()"
    >
      Otkaži terapiju
    </button>
    <button
      class="btn btn-primary my-3 mx-2"
      *ngIf="basicView"
      (click)="onIzaberiTerapiju()"
    >
      Izaberi terapiju
    </button>
  </mat-card-content>
</mat-card>
