mat-card {
  border: 1px solid #c4c6ca;
  cursor: pointer;
  background-color: #e2eafc;
}
.kliknuto {
  background-color: #b6ccfe;
  border: 2px solid #838588;
  border-radius: 1%;
}
.mat-card:hover {
  background-color: #ccdbfd;
}
mat-card:hover mat-card-title {
  color: #590d22;
}
mat-card-title {
  color: black;
}
mat-card-subtitle {
  color: black;
}
